.preloader {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background-image: url("/images/dot_pattern.png"); */
  background-size: 8px;
  background-repeat: repeat;
  /* display: none; */
  /* background-color: #ccc; */
  /* background-image: url('../images/icons/bg-footer.png'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: bottom; */
  z-index: 0;
  /* background-color: var(--primary-color); */
  /* background-color: rgba(16, 137, 255, 0.6); */
  /* background-color: var(--secondary-color); */
  background-color: var(--primary-color);
  /* background-color: var(--secondary-color); */
}

.preloader img {
  width: 12rem;
  height: 12rem;
  /* object-fit: cover; */
}

.preloader * {
  z-index: 100;
}

.preloader img {
  /* width: 15.8rem; */
  object-fit: cover;
}

.preloader .counter h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
  color: #f9f9f9;
  /* color: var(--blue-color); */
  opacity: 0.9;
  letter-spacing: 0;
}

.preloader hr,
#preloader hr {
  /* background: #ffff; */
  border: none;
  height: 0.2rem;
  background-color: var(--yellow-color);
}
/* 
.header__main::before,
.header__main::after {
  content: "";
  position: absolute;
  bottom: 40%;
  right: 100%;
  width: 9rem;
  height: 0.3rem;
  margin-right: 1rem;
  background-color: var(--primary-color);
}

.header__main::after {
  left: 100%;
  margin-left: 1rem;
  margin-right: 0;
}

.header__content {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.7rem;
  max-width: 75%;
} */
/* .preloader,
#preloader {
  background-color: var(--light-color);
  display: flex;
} */

.preloader {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.main {
  display: block;
  opacity: 1;
}

/* Estado de Primeiro Acesso: Invertemos o display */
html.com-loader .preloader {
  display: flex; /* ou block, como preferir */
  opacity: 1;
}

html.com-loader .main {
  display: none !important;
  opacity: 0 !important;
}
