// VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

$primary-font: 'Dosis', sans-serif;
$website-width: 108rem;

$primary-color: #ffbc00;
$secondary-color: #4285f4;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$overlay-color: rgba(0, 0, 0, 0.6);

$bg-image: url('../img/showcase/01.jpg');
$bg-image: url('../img/showcase/012.jpg');
$bg-section: url('../img/showcase/03.jpg');
