// TABLETS & SMALLER
@media (max-width: 1024px) {
  // HEADER HOME
  #header-home {
    height: 45rem;
  }

  // SECTION BUTTONS
  #section-buttons {
    height: 30rem;
  }
}

@media (max-width: 821px) {
  // HEADER HOME
  #header-home {
    height: 35rem;

    .header-content {
      padding-top: 5rem;
      justify-content: flex-start;

      h1 {
        font-size: 4rem;
        line-height: 1;
      }

      .lead {
        font-size: 3rem;
      }
    }
  }

  // HOME A: SPECIALS
  #home {
    &-a {
      .specials > * {
        // border-bottom: 3px dotted $primary-color !important;
        padding-bottom: 1.6rem;

        &:last-child {
          // border: none !important;
          // padding-bottom: 0 !important;
        }
      }
      .section-title {
        // font-size: 2.8rem;
      }
      p.lead {
        max-width: 100%;
        // background-color: red;
      }
    }
  }

  // HOME B: STATS
  #home-b .stats {
    div {
      margin-bottom: 0.5rem;

      &:first-child,
      &:last-child {
        border-radius: 0rem;
      }
    }
  }

  // HOME GRID: PROJECTS
  .grid {
    &-container {
      grid-template-columns: 1fr;
      text-align: center;
    }

    &-left {
      a:nth-child(9) {
        display: inline-block;
        margin-top: 2rem;
      }

      .btn {
        margin-bottom: 2rem;
        font-size: 1.5rem;
      }

      h2 {
        text-align: center;
      }

      h3 {
        text-align: center;
        margin-bottom: 0.5rem;
      }

      .lead {
        text-align: center;
      }
    }

    &-right {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // SECTION: BUTTONS
  #section-buttons {
    height: 35vh;

    .section-title {
      font-size: 3.5rem;
    }

    .lead {
      font-size: 2.5rem;
      line-height: 1.2;
      max-width: 100%;
    }
  }

  // HOME C: CREATIVE PROCESS
  #home-c {
    .section-title {
      font-size: 2.8rem;
    }

    .lead {
      max-width: 100% !important;
    }
  }

  // CONTACT PAGE
  #contact {
    &-a {
      .section-title {
        font-size: 2.8rem;
      }

      .lead {
        line-height: 1.3;
        width: 100%;
      }
      .lead:last-of-type {
        width: 100% !important;
      }
      .contact-info-container {
        width: 100%;
      }
    }
  }

  // WORK PAGE
  #work-a {
    .lead {
      line-height: 1.4;
      max-width: 100% !important;
    }
  }

  .items {
    width: 94%;
    margin: 0 auto;
  }

  // FOOTER
  #main-footer {
    .footer {
      &-nav ul {
        width: 45%;
      }

      &-text p {
        font-size: 1.5rem !important;
      }
    }
  }
}

// SMARTPHONES
@media (max-width: 540px) {
  #header-home {
    height: 35rem;
  }
  .footer-nav ul {
    width: 70% !important;
  }
}

@media (max-width: 500px) {
  .process > {
    div {
      border-bottom: 3px dotted $primary-color;
      padding: 1rem;
      margin-bottom: 0rem;
    }
  }

  #home {
    &-a {
      .specials > * {
        border-bottom: 3px dotted $primary-color !important;
        padding-bottom: 1.6rem;
        &:last-child {
          border: none !important;
          padding-bottom: 0 !important;
        }
      }
      .section-title {
        font-size: 2.8rem;
      }
      p.lead {
        max-width: 100%;
        // background-color: red;
      }
    }
  }
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1.6rem;
    }
  }
  #header {
    &-home {
      height: 43rem;
      border-bottom: 0.3rem solid $primary-color;
    }

    &-inner {
      height: 15rem;
    }
  }

  #home {
    &-a {
      .specials > * {
        border-bottom: 0.1rem dotted $light-color;
        padding-bottom: 1.6rem;
        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
    &-b {
      .stats div {
        padding: 3.2rem 0 1.6rem;
      }
    }
  }
  // STACK GRID COLUMNS
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  .items {
    grid-template-columns: 1fr;
  }

  // CONTACT
  #contact {
    // &-b {
    //   .contact-info {
    //     grid-template-columns: 1fr;
    //     gap: 2rem;
    //     div {
    //       margin-bottom: 1.6rem;
    //       padding-bottom: 1.6rem;
    //       border-bottom: 0.1rem dotted #555;
    //       &:last-child {
    //         padding-bottom: 0;
    //         margin-bottom: 0;
    //         border: none;
    //       }
    //     }
    //   }
    // }
    &-c {
      h1 {
        font-size: 3.4rem;
      }
    }
  }

  // ABOUT
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          'bioimage'
          'bio'
          'aw1'
          'aw2'
          'aw3';
        .bio a {
          margin-top: 1rem;
          display: inline-block;
          margin-right: 1rem;
          margin-bottom: 1rem;
          font-size: 1.4rem;
        }
      }
    }
    &-c {
      padding: 2rem 0;

      .about-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 100%;

        margin: 0 auto;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
    }
    &-d {
      .testimonials div {
        text-align: center;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  // SECTION BUTTONS
  #section-buttons {
    height: 50vh;
  }
  // FOOTER
  .footer {
    &-icons {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-text {
      flex-direction: column-reverse;
      align-items: center;
      padding-top: 2rem;
      p {
        font-size: 1.8rem !important;
      }

      p:nth-child(2) {
        margin-bottom: 0rem;
      }
    }

    &-nav ul {
      width: 90% !important;
    }
  }
}

@media (max-width: 330px) {
  // HEADER
  #header {
    &-home {
      // height: 47rem;

      .header-content {
        h1 {
          // font-size: 4rem;
        }
      }
    }
  }

  // FOOTER
  #main-footer {
    .footer {
      &-content {
        text-align: center;
      }
      &-icons {
        width: 80%;
        display: flex;
      }
      &-nav ul {
        // background-color: red;
      }
      &-text p:nth-child(1) {
        font-size: 1.5rem;
      }
    }
  }

  // WORK PAGE
}

// LANDSCAPE
// @media (max-height: 580px) {
//   // HOME
//   #header {
//     &-home {
//       // height: 40rem;
//       // height: 80vh;
//       .header-content {
//         // padding-top: 8rem;
//       }
//     }
//   }

//   //WORK
//   // .items {
//   //   grid-template-columns: repeat(2, 1fr);
//   // }
// }
// @media (max-height: 330px) {
//   #header {
//     &-home {
//       .header-content {
//         padding-top: 3rem;
//       }
//     }
//   }
//   #home-a .specials,
//   #home-c .process {
//     grid-template-columns: repeat(2, 1fr);
//     gap: 2rem;
//   }
//   .footer {
//     &-icons {
//       // background-color: red;
//       margin-bottom: 1rem;
//     }
//   }
//   #about {
//     &-c {
//       padding: 2rem 0;

//       .about-logos {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         max-width: 90%;

//         margin: 0 auto;
//         align-items: center;
//         text-align: center;
//         justify-content: center;

//         img:last-child,
//         img:nth-child(2) {
//           justify-self: flex-end;
//         }
//       }
//     }
//     &-d {
//       .testimonials {
//         grid-template-columns: repeat(2, 1fr);
//         div {
//           text-align: center;
//           display: flex;
//           padding: 1rem;
//           flex-direction: column;
//           align-items: center;
//         }
//       }
//     }
//   }
// }
