@import 'config';
@import 'utilities';
@import 'item_grid';

// RESET CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $primary-font;
  line-height: 1.6;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style-type: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}
.btn-cv {
  background-color: #fff;
  background: #4285f4;
  color: $dark-color;
  color: #fff;
}

// LOGO
#logo {
  font-size: 3rem;
  font-weight: bold;
  // color: $main-color !important;
  text-transform: uppercase;
  // border: 0.1rem solid red;
}

// MAIN NAV
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;

  ul {
    display: flex;
    align-items: center;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 0.3rem transparent dotted;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
      font-weight: bold;
      // border-radius: 1rem;
    }
  }
}

// HEADER
#header {
  &-home {
    background-image: $bg-image;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    background-attachment: fixed;
    color: #fff;
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);

      z-index: -11;
    }
    .btn {
      font-weight: bold;
      font-size: 2rem;
      border-radius: 2rem;
      background-color: $main-color;
      color: #fff;
      // border: 3px dotted #ccc;
      &:hover {
        transform: scale(0.96);
      }
      &:hover i {
        transform: translateX(3px);
      }
    }
    .container {
      height: 100%;
    }
    .header-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      text-align: center;
      padding-bottom: 10%;

      h1 {
        font-size: 6.4rem;
        line-height: 1.2;
      }
      p {
        font-size: 3.5rem;
      }

      .header-buttons {
        // margin-top: 2rem;
        display: flex;
        justify-content: center;
        // display: none;

        // background-color: red;
        .btn {
          margin-right: 1rem;
        }
        .btn-cv {
          background-color: #fff;
          background: #4285f4;
          color: $dark-color;
          color: #fff;
        }
      }
    }
  }

  // HEADER INNER
  &-inner {
    background-image: $bg-image;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 30%;
    height: 8.8rem;
    border-bottom: 0.3rem solid $main-color;
    color: #fff;
  }
}

// SECTIONS
#home {
  // HOME E
  &-e {
    background-image: $bg-section;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;
    color: #fff;
    position: relative;
    z-index: 2;
    .section-title {
      font-weight: bold;
      font-size: 5rem;
      color: $main-color;
    }
    .lead {
      font-size: 2.8rem;
      text-transform: none;
      line-height: 1.2;
      max-width: 80%;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    .buttons {
      &-container .btn-large {
        display: inline-block;
        color: #fff;
        // width: 14rem;
        // font-size: 2rem;
        // background: #4285f4;
        // color: #fff;
        font-size: 2rem;
        font-weight: bold;
        border-radius: 2rem;
        // background-color: $main-color;

        // border: 3px dotted $main-color;
        margin-right: 1rem;
        margin-top: 2rem;

        &:hover {
          transform: scale(0.96);
        }
        &:hover i {
          transform: translateX(3px);
        }
        // text-transform: uppercase;
      }
    }
  }
  // HOME SECTION A
  &-a {
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    // border-bottom: 4px dotted $main-color;
    // border: ;
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      h3 {
        // color: $main-color;
        font-weight: bold;
        margin-top: 0.4rem;
      }
      .fas {
        color: $main-color;
        color: $dark-color;
        // color: #fff;
        border: 3px dotted $light-color;
        background-color: $main-color;

        border-radius: 2rem;
        padding: 2rem;
        // padding-bottom: 0.4rem;

        background-color: $dark-color;
        color: #fff;
        border-radius: 50%;
        border: none;
      }
    }
    .lead {
      line-height: 1.3;
      max-width: 80%;
      margin: 0 auto;
      margin-bottom: 4rem;
    }
  }

  // HOME SECTION B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // height: 30vh;
      max-width: 80%;
      margin: 0 auto;
      align-items: center;
      // margin-bottom: 3rem;
      li {
        // line-height: 2;
        &.stats-title {
          font-size: 2.4rem;
        }

        &.stats-number {
          font-size: 3rem;

          font-weight: bold;
        }
      }

      div {
        // height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        padding-top: 2rem;
        transition: all 0.2s ease-in-out;

        &:nth-child(odd) {
          background-color: $light-color;
          background-color: $dark-color;

          color: #fff;
        }
        &:nth-child(even) {
          background-color: $dark-color;
          background-color: $main-color;
          background-color: #4285f4;
          color: #fff;
        }
        &:first-child {
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 2rem;
        }
        &:last-child {
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 2rem;
        }
        // &:hover {
        //   background-color: $main-color;
        // }
      }
    }
  }

  // HOME SECTION C
  &-c {
    min-height: 60vh;
    align-items: center;
    display: flex;
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      justify-content: center;
      text-align: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }

      // PROCESS STEP
      &-step {
        position: absolute;
        top: -20px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 25px;
        background-color: $main-color;
        background-color: #4285f4;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        line-height: 2rem;
        padding: 1rem;
        transition: all 0.8s;
      }

      // PROCESS ICON
      &-icon {
        border-radius: 50%;
        background-color: $dark-color;
        color: #fff;
        padding: 4rem;
        width: 9rem;
        height: 9rem;
        line-height: 9rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all 0.8s;

        &:hover {
          background-color: $main-color;
          width: 11rem;
          height: 11rem;
          line-height: 11rem;

          .process-step {
            background-color: $dark-color;
          }
        }
      }
    }
  }
}

// ABOUT SECTIONS
#about {
  // ABOUT A
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        'bioimage bio bio'
        'aw1 aw2 aw3';
      gap: 1.2rem;
      max-width: 80%;
      margin: 0 auto;
    }

    // GRID AREA
    .bio-image {
      grid-area: bioimage;
      width: 40rem;
      height: 24rem;
      border-radius: 2rem;
      justify-self: end;
      object-fit: cover;
      object-position: bottom;
      // width: 30rem;
      // height: 250px;
      // justify-self: end;

      // justify-self: end;
      // object-fit: cover;
    }

    .bio {
      grid-area: bio;
      border-left: 0.3rem solid $main-color;
      padding: 0.8rem;
      // justify-self: flex-start;
    }

    .award-1 {
      grid-area: aw1;
    }
    .award-2 {
      grid-area: aw2;
    }
    .award-3 {
      grid-area: aw3;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $main-color;
      margin: 1rem;
    }
  }

  // ABOUT B
  &-b {
    .progress {
      overflow: hidden;
      height: 2rem;
      background-color: $medium-color;
      border-radius: 0.5rem;
      margin-bottom: 1rem;

      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background-color: $main-color;
      }
    }
  }
  // ABOUT C
  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 1rem;
      // background-color: red;

      margin: 0 auto;
      width: 70%;
      img {
        // width: 70%;
        width: 70%;
        // background-color: yellow;
        height: 100%;
        object-fit: cover;
      }
      img:last-of-type {
        width: 90%;
        object-fit: fill;
      }
    }
  }

  // ABOUT D
  &-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.8rem;
      ul {
        list-style-type: none;
        margin-top: 1.6rem;
        display: flex;
        align-items: center;
      }

      p {
        border: 0.1rem solid $medium-color;
        border-radius: 0.5rem;
        padding: 0.8rem;
      }

      img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 0.8rem;
      }
    }
  }
}

// CONTACT PAGE
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas:
        'name email'
        'subject phone'
        'message message';
      gap: 1.2rem;
      margin-bottom: 2rem;

      // GRID AREAS
      .name-input {
        grid-area: name;
      }
      .subject-input {
        grid-area: subject;
      }
      .email-input {
        grid-area: email;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 10rem;
      }

      .text-input {
        padding: 0.8rem 1.6rem;
      }
    }
    button[type='submit'] {
      width: 50%;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }
  &-c {
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
}

// FOOTER
#main-footer {
  background-color: $dark-color;
  color: #fff;
  padding: 2rem;

  .footer {
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &-icons i {
      margin: 0 0.5rem;
      background-color: $main-color;
      border-radius: 1.2rem;
      color: $dark-color;
      padding: 0.5rem;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &-icons i:hover {
      background-color: $light-color;
    }

    &-text {
      margin-top: 2rem;
      border-top: 3px dotted #424850;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &-text p {
      font-size: 1.8rem;
      padding: 0.5rem;
    }

    &-text a {
      color: $main-color;
      font-weight: bold;
      padding: 0.3rem;
    }
    &-nav {
      width: 100%;
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        align-items: center;
        width: 34%;
        margin-top: 2rem;
        justify-content: space-around;
        border: 0.2rem dotted $main-color;
        border-radius: 1rem;

        a {
          font-weight: bold;
          color: #fff;
          font-size: 2rem;
          padding: 1rem;
          transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);

          &:hover {
            opacity: 0.3;
          }
        }
      }
    }
  }
}

// SCROLLBAR
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 2rem;
  border: 0.2rem dotted $dark-color;
}

::-webkit-scrollbar-track {
  background-color: $dark-color;
}

// SCROLLTOP
.scrollTop {
  position: fixed;
  right: 0rem;
  bottom: 80rem;
  font-size: 4rem;
  bottom: 80rem;
  font-size: 4rem;
  background-color: $main-color;
  color: $light-color;
  border-radius: 10px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.8s;
  z-index: 1000;
}

.scrollTop.active {
  visibility: visible;
  opacity: 1;
  bottom: 20rem;
  right: 1rem;
  bottom: 8rem;
}

.scrollTop:hover {
  background-color: $light-color;
  color: $main-color;
}
.grid {
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
  }
  &-left {
    .lead a {
      display: inline-block;
      margin: 0.4em 0;
      &:hover span {
        background-color: $dark-color;
        color: #fff;
      }
    }

    .btn {
      font-weight: bold;
      font-size: 2rem;
      border-radius: 2rem;
      color: #fff;

      &:hover {
        transform: scale(0.96);
      }
      &:hover i {
        transform: translateX(3px);
      }

      // border: 3px dotted #ccc;
    }

    // .bottom-line {
    //   background-color: $main-color;
    //   width: 30%;
    //   display: none;
    //   margin: 0 auto 1rem auto;
    // }
    h2 {
      font-weight: bold;
      // color: $dark-color;
      // color: #ccc;
      // font-size: 3.4rem !important;
      line-height: 1.2;
      text-align: left;
      // color: #4285f4;
    }
    h3 {
      // color: $main-color;
      text-align: left;
      // color: $dark-color;
      // font-size: 2rem;
      font-weight: 300;
      text-transform: none;
      // margin-bottom: 1rem;
      margin-bottom: 2rem;
    }
    .lead {
      line-height: 1.3;
      font-weight: 300;
      text-align: left;
    }
    // .bottom-line {
    //   background-color: $light-color;
    // }
  }
  &-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
  }

  &-image {
    border-radius: 1rem;
    height: 22rem;
    width: 100%;
    opacity: 1;
    object-fit: cover;
    object-position: top;
    // object-fit: fill;
    &:hover {
      // margin: 2rem;
    }
    &:first-child {
      // grid-column: 1 / span 2;
      width: 100%;
      // background-color: red;

      // height: 70%;
      object-fit: cover;
    }
    &:nth-child(3) {
      // grid-column: 1 / span 3;
      // height: 20rem;
    }
    &:nth-child(4) {
      // height: 20rem;
    }
    &:nth-child(5) {
      // height: 20rem;
      // object-fit: fill;
      // height: 100%;
      // width: 100%;
    }
    &:last-child {
      // grid-column: 2 / span 2;
      // object-position: center;
    }
  }
}

.grid-container {
}

// IMPORT MEDIA QUERIES
@import 'media';

#home-c .lead {
  width: 80%;
  margin: 0 auto;
}

#home-c .lead:first-of-type {
  // background-color: red;
  margin-bottom: 1rem;
}

// WORK

#work {
  &-a {
    h2:nth-of-type(2) {
      margin-bottom: 0;
      color: $main-color;
    }

    .lead {
      max-width: 80%;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
    .lead:first-of-type {
      // color: red;
    }
  }
}
